{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_users_index' %}

{% block class_body %}col-sm-12{% endblock %}

{% block main %}
    <h1>{{ 'title.users.list'|trans }} ({{allCampers|length }})</h1>
    <div class="users-list">
        {% for camper in allCampers %}
            <div class="user-list user-{{camper.id}} jc-space-between">
                    <div class="img-profile col-md-1">
                        #{{ camper.id }}<img src="{{ asset('/uploads/profiles/'~camper.profile.profileImage) }}" alt='{{ camper.firstname }}' />
                    </div>
                    <div class="name-profile col-md-2"><a href="{{ path('user_profile_info_view', {profileId: camper.profile.id}) }}">{{ camper.fullname }}</a></div>
                    <div class="mail-profile col-md-2">{{ camper.email }}</div>
                    <div class="date-user col-md-2">{{ camper.created|date('d-m-Y h:i') }}{% if camper.updated is not null %} / {{ camper.updated|date('d-m-Y h:i') }}{% endif %}</div>
                    <div class="date-profile col-md-2">{{ camper.profile.created|date('d-m-Y h:i') }}{% if camper.profile.updated is not null %} / {{ camper.profile.updated|date('d-m-Y h:i') }}{% endif %}</div>
                    <div class="img-profile col-md-1">
                        {{ camper.verified }}
                    </div>
                    <div class="action-profile  col-md-2">
                        {% if 'ROLE_ADMIN' in camper.roles %}
                            ADMIN
                        {% elseif 'ROLE_SUPER_ADMIN' in camper.roles %}
                            SUPER ADMIN
                        {% endif %}
                    <div class="impersonate-profile"><a href="{{ path('admin_garden_index') }}?_switch_user={{ camper.email }}" class="btn btn-sm btn-warning">{{ 'impersonate'|trans }}</a></div>
                    <a href="{{ path('user_profile_info', {profileId:camper.profile.id}) }}"" class="btn btn-sm btn-success">Profil</a>
                    <a href="javascript:void(0);" data-id="{{ camper.id }}" data-element="user" data-action="{{ path('admin_user_delete', {id: camper.id})}}" data-delete data-token="{{ csrf_token('delete' ~ camper.id )}}" class="btn btn-sm btn-danger">Supprimer</a>
                    </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
