<!-- Modal Content-->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="joinModalLabel">{{ 'camper.delete.popup'|trans }}</h4>
  </div>
  <div class="modal-body">
    <p>{{ 'camper.all.delete'|trans }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'close'|trans }}</button>
    <a href="javascript:void(0);" data-id="{{ camper.id }}" data-element="user" data-action="{{ path('admin_user_delete', {id: camper.id})}}" data-delete data-token="{{ csrf_token('delete' ~ camper.id )}}" class="btn btn-sm btn-danger">{{ 'camper.delete'|trans }}</a>
  </div>
