{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block title %}{{ 'register'|trans }}{% endblock %}

{% block class_body %}col-sm-12{% endblock %}

{% block main %}
    {{ include('default/_flash_messages.html.twig') }}

    <div class="formulaire-registration">
        <div class="well">
            {{ form_start(registrationForm, {attr: {novalidate: 'novalidate', class:'form-add-user'}}) }}
                <legend><i class="fa fa-user" aria-hidden="true"></i>{{ 'user.register'|trans }}</legend>
                <div class="form-group">
                    {{ form_label(registrationForm.lastname) }}
                    {{ form_help(registrationForm.lastname) }}
                    {{ form_widget(registrationForm.lastname) }}
                </div>
                <div class="form-group has-error error-lastname">
                    {{ form_errors(registrationForm.lastname) }}
                </div>                
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}
                <div class="form-group d-flex">
                    {{ form_widget(registrationForm.agreeTerms) }}<span>{{ 'label.agreeTerms'|trans }}<a href="{{ asset('/uploads/documents/CGU-Garden-exchange.pdf') }}" target="_blank" >{{ 'label.agreeTerms.cgu'|trans }}</a></span>
                </div>
                
                <input type="hidden" name="_target_path" value="{{ app.request.headers.get('host') }}"/>
                <input type="hidden" name="_checkT" class="checkT" value="0"/>
                
                <button type="submit" class="{{ button_css|default("btn btn-primary") }} pull-right">{{ 'user.register'|trans }}</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
