{% extends 'base.html.twig' %}

{% block title %}{{ 'reset.password.email.send.ok'|trans }}{% endblock %}

{% block class_body %}col-md-10 col-md-offset-1{% endblock %}

{% block body_id 'reset-password-send-email-ok' %}

{% block main %}
    <div class="row">
        <div class="listings col-md-6 col-md-offset-3 margin-top-4">
            <p>{{ 'reset.password.expire.in'|trans }}{{ tokenLifetime|date('g') }} {{ 'hours'|trans }}.</p>
            <p>{{ 'reset.password.email.help.spam'|trans }}<a href="{{ path('app_forgot_password_request') }}">{{ 'try.again'|trans }}</a>.</p>
        </div>
    </div>
{% endblock %}
