{{ form_start(form) }}
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_label(form.content) }}
    {{ form_widget(form.content,{ 'attr': {'rows': '10', 'cols': '50'} }) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
