{% extends 'base.html.twig' %}

{% block title %}ConversationExchange{% endblock %}

{% block body %}
    <h1>ConversationExchange</h1>
{#
    {{ dump(conversation_exchange) }}
    {% for user in conversation_exchange.users %}
        {{ dump(user) }}
    {% endfor %}
#}
<div class="first-conversation">
    {{ conversation_exchange.content }}
</div>
{% if is_granted('ROLE_ADMIN') %}{{ conversation_exchange.id }}{% endif %}

{% for messageExchange in conversation_exchange.MessageExchanges %}
    <div class="message-conversation">
        <div class="message-conversation-content">
            {{ messageExchange.content }}
        </div>
        <div class="message-conversation-user-fullname">
            {{ messageExchange.user.fullname }}
        </div>
    </div>
{% endfor %}
    <a href="{{ path('conversation_exchange_index') }}">back to list</a>
{% endblock %}
