{% extends 'base_search.html.twig' %}

{% block body_id 'results' %}

{% block body %}
    {% if app.request.get('noModal') is null %}
        {{ include('includes/modals/search/search_join_modal.html.twig') }}
    {% endif %}
    
    <div class="row">
        <div class="carte-listings col-md-6 is-hidden-desktop">
            {{ include('maps/_map_gardens_listing_mobile.html.twig' , { 'allGardens': allGardens }, with_context = false) }}
        </div>
        <div class="listings col-md-6">
            {#
            <div class="page-header">
                <h1>{{ allGardens|length }} {{ 'nb.result.listings'|trans|raw }}</h1>
            </div>
            #}
            
            <div class="gardens-listing-result jc-space-around">
                {% for garden in allGardens %}
                    {{ include('garden/_garden_result.html.twig') }}
                {% endfor %}
            </div>
        </div>
        <div>
            {{ 'before_leave_no_garden_modal'|trans }}
            <p class="d-flex txt-center jc-center modal-video-add-garden">
                <video  width="600" height="333" controls src="{{ asset('/uploads/videos/story_add_garden.webm') }}" poster="{{ asset('/uploads/images/story_add_garden.png') }}">Add a garden</video>
            </p>
        </div>

        <div class="carte-listings col-md-6 is-hidden-mobile">
            {{ include('maps/_map_gardens_listing.html.twig' , { 'allGardens': allGardens }, with_context = false) }}
        </div>
    </div>
{% endblock %}
