{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}
    <div class="row">
        {{ include('default/_flash_messages.html.twig') }}
        <div class="homedream-container col-sm-12 no-padding">
            <div class="page-header d-flex">
                <div class='baseline'>
                    <h1>{{ 'title.homepage'|trans|raw }}</h1>
                </div>
                <div class='central-search'>
                    {{ render(controller('App\\Controller\\SearchController::searchWidgetSimple', {
                            '_locale': app.request.locale
                        }))
                    }}
                </div>
                <div class='homepage-central-links'>
                    <div class='col-sm-6 col-md-6 central-see-gardens'>
                        <a href="{{ path('garden_results', { noModal : 1} ) }}" class="btn btn-lg btn-success">
                            {{ 'see.gardens'|trans }}
                        </a>
                    </div>
                    <div class='col-sm-6 col-md-6 central-create-account'>
                        <a href="{{ path('register') }}" class="btn btn-lg btn-success">
                            {{ 'create.account'|trans }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="homepage_garden_dream">
            </div>
        </div>

        <div class="homepage-intro col-sm-12 txt-center d-flex jc-space-around">
            {% for post in introPost %}
                <div class="col-sm-8">
                    {{ post.content|raw }}
                </div>
            {% endfor %}
        </div>

        <hr />

        <div class="homepage-encart col-sm-12 no-padding txt-center d-flex jc-space-around">
                <div class="col-sm-3 step">
                    <div class="homepage-encart-title">
                        Tranquille
                    </div>
                    <div class="homepage-encart-content">
                        <p>Les échanges vous permettent de profiter seul du jardin de votre hôte.</p>
                    </div>
                </div>
                <div class="col-sm-3 step">
                    <div class="homepage-encart-title">
                        Sûr
                    </div>
                    <div class="homepage-encart-content">
                        <p>Avant votre premier échange, chaque membre de la communauté est vérifié : email, téléphone, papiers de propriétés et d'identités.</p>
                    </div>
                </div>
                <div class="col-sm-3 step">
                    <div class="homepage-encart-title">
                        Economique
                    </div>
                    <div class="homepage-encart-content">
                        <p>L'abonnement annuel vous donne accès a un nombre d'échanges illimité, sans aucun coût supplémentaire.</p>
                    </div>
                </div>
        </div>

        <div class="homepage-intro col-sm-12 no-padding txt-center d-flex jc-space-around">
                <div class="col-sm-8">
                    <p>
                        <a href="{{ path('register') }}" class="btn btn-lg btn-success">
                            {{ 'user.register'|trans }}
                        </a>
                    </p>
                </div>
        </div>

        <div class="homepage-photos col-sm-12 no-padding txt-center d-flex jc-space-around">
                <div class="col-sm-4">
                    <img src="{{ asset('/uploads/images/camping_ligth.jpg') }}" alt='tentes' />
                </div>
                <div class="col-sm-4">
                    <img src="{{ asset('/uploads/images/motorhome_ligth.jpg') }}" alt='camping-car' />
                </div>
                <div class="col-sm-4">
                    <img src="{{ asset('/uploads/images/fourgon_ligth.jpg') }}" alt='fourgon' />
                </div>
        </div>
        <p>
        <hr />
        </p>
        <div class="homepage-encart col-sm-12 no-padding txt-center d-flex jc-space-around">
            {% for post in encartPosts %}
                <div class="col-sm-3 step">
                    <div class="homepage-encart-title">
                        {{ post.title }}
                    </div>
                    <div class="homepage-encart-content">
                        {{ post.content|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="homepage-intro col-sm-12 no-padding txt-center d-flex jc-space-around">
                <div class="col-sm-8">
                    <p>Entrez dans l'économie collaborative du camping entre particuliers grâce à cette offre de lancement :</p>
                    <p>L'abonnement d'<b>1 an</b> est offert, échangez votre jardin toute l'année 2021 gratuitement.(Pas besoin de CB donc)</p>
                    <p>
                        <a href="{{ path('register') }}" class="btn btn-lg btn-success">
                            {{ 'user.want.register'|trans }}
                        </a>
                    </p>
                </div>
        </div>
        
        <div class="homepage-video col-sm-12 no-padding txt-center d-flex jc-space-around">
                <div class="col-sm-8 is-hidden-mobile">
                    <p>L'inscription ne prend que quelques minutes :</p>
                        <video  width="600" height="333" controls src="{{ asset('/uploads/videos/story_add_garden.webm') }}" poster="{{ asset('/uploads/images/story_add_garden.png') }}">Add a garden</video>
                    </p>
                </div>
                <div class="col-sm-8 is-hidden-desktop">
                    <p>L'inscription ne prend que quelques minutes :</p>
                        <video  width="400" height="222" controls src="{{ asset('/uploads/videos/story_add_garden.webm') }}" poster="{{ asset('/uploads/images/story_add_garden.png') }}">Add a garden</video>
                    </p>
                </div>
        </div>

        <div class="homepage-intro col-sm-12 no-padding txt-center d-flex jc-space-around">
            {% for post in nuiteesPost %}
                <div class="col-sm-8">
                    {{ post.content|raw }}
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
