{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_edit' %}

{% block class_body %}col-md-10 col-md-offset-1{% endblock %}

{% block main %}

    <div class="action-post-edit d-flex clear-wrap">
        <h1>{{ 'title.edit_post'|trans({'%id%': post.id}) }}</h1>
        <a href="{{ path('admin_post_show', {id: post.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show_post'|trans }}
        </a>
    </div>
    
    {{ include('admin/blog/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
