<div id="macarte" style="width:80%;margin: 0 auto; height:250px"></div>
{% if not is_granted('ROLE_CAMPER') and garden.latCity is not null and garden.lngCity is not null %}
    <script>
      var carte = L.map('macarte').setView([{{garden.latCity}}, {{garden.lngCity}}], 10);
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(carte);
      var marker = L.marker([{{garden.latCity}}, {{garden.lngCity}}], {
        draggable: 'true'
      }).bindPopup("").addTo(carte);
    </script>
{% elseif garden.lat is not null and garden.lng is not null%}
    <script>
      var carte = L.map('macarte').setView([{{garden.lat}}, {{garden.lng}}], 9);
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(carte);
      var marker = L.marker([{{garden.lat}}, {{garden.lng}}], {}).bindPopup("{{garden.city}}").addTo(carte);
    </script>
{% endif %}
