    <div id="gardensCarte" style="width:100%;margin: 0 auto; height:1000px"></div>
    {% if not is_granted('ROLE_CAMPER') and allGardens is not null %}
        <script>
          var gardensCarte = L.map('gardensCarte');
          L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '©️ OpenStreetMap contributors'
          }).addTo(gardensCarte);
          
          let pointsList = [];
          let nom = '';
          let geoloc = '';
          {% for garden in allGardens %}
            {% if garden.latCity and garden.lngCity and garden.city %}
                nom = "{{ garden.city }}";
                geoloc = [{{ garden.latCity }}, {{ garden.lngCity }}];
                L.marker(geoloc).addTo(gardensCarte).bindPopup(nom);
                pointsList.push(geoloc);
            {% endif %}
          {% endfor %}
            if (pointsList.length>0){
                gardensCarte.fitBounds(pointsList);
            }
            gardensCarte.setZoom(6);
        </script>
    {% else %}
        <script>
          var gardensCarte = L.map('gardensCarte');
          L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '©️ OpenStreetMap contributors'
          }).addTo(gardensCarte);
          
          let pointsList = [];
          let nom = '';
          let geoloc = '';
          {% for garden in allGardens %}
            {% if garden.latCity and garden.lngCity and garden.city %}
                nom = "{{ garden.city }}";
                geoloc = [{{ garden.latCity }}, {{ garden.lngCity }}];
                L.marker(geoloc).addTo(gardensCarte).bindPopup(nom);
                pointsList.push(geoloc);
            {% endif %}
          {% endfor %}
            if (pointsList.length>0){
                gardensCarte.fitBounds(pointsList);
            }
            gardensCarte.setZoom(6);
        </script>
    {% endif %}
