    <div id="gardensCarteMobile" style="width:90%; margin:0 auto; height:200px"></div>
    {% if not is_granted('ROLE_CAMPER') and garden.latCity is defined and garden.lngCity is defined %}
        <script>
          var carteMobile = L.map('macarteMobile').setView([{{garden.latCity}}, {{garden.lngCity}}], 10);
          L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(carteMobile);
          var marker = L.marker([{{garden.latCity}}, {{garden.lngCity}}], {
            draggable: 'true'
          }).bindPopup("").addTo(carteMobile);
        </script>
    {% else %}
        <script>
          var gardensCarteMobile = L.map('gardensCarteMobile');
          L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '©️ OpenStreetMap contributors'
          }).addTo(gardensCarteMobile);
          
          let pointsListMobile = [];
          let nomMobile = '';
          let geolocMobile = '';
          {% for garden in allGardens %}
            {% if garden.lat and garden.lng and garden.city %}
                nomMobile = "{{ garden.city }}";
                geolocMobile = [{{ garden.lat }}, {{ garden.lng }}];
                L.marker(geolocMobile).addTo(gardensCarteMobile).bindPopup(nomMobile);
                pointsListMobile.push(geolocMobile);
            {% endif %}
          {% endfor %}
            if (pointsListMobile.length>0){
                gardensCarteMobile.fitBounds(pointsListMobile); 
            }
        </script>
    {% endif %}
