{% extends 'base.html.twig' %}

{% block title %}Garden Exchange - {{ post.title }}{% endblock %}

{% block body_id 'blog_post_show' %}

{% block body %}
    <div class="row">
        <div id="main" class="col-sm-8 col-md-offset-2">
        {% block main %}
            <h1>{{ post.title }}</h1>

            <p class="post-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
            </p>

            {{ post.content|markdown_to_html|sanitize_html }}

            {% if app.user is null %}
                <a href="{{ path('register') }}" class="btn btn-lg btn-success">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'user.no_account.register'|trans }}
                </a>
            {% else %}
                <a href="{{ path('garden_results') }}" class="btn btn-lg btn-success">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'Trouver un échange'|trans }}
                </a>
            {% endif %}

            {# include('blog/_post_tags.html.twig') #}

        {% endblock %}
        </div>
    </div>
{% endblock %}
