{% extends 'base.html.twig' %}

{% block body_id 'contact' %}

{% block title %}Contact{% endblock %}

{% block class_body %}col-md-6 col-md-offset-3 mg-top{% endblock %}

{% block main %}
    {{ include('default/_flash_messages.html.twig') }}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="formulaire-contact">
        <div class="well">
            {{ form_start(contactForm, {attr: {novalidate: 'novalidate', class:'form-contact'}}) }}
                <legend><i class="fa fa-comments" aria-hidden="true"></i>{{ 'user.contact'|trans }}</legend>
                <p class="hidden">Merci de ne pas mettre de lien vers un site. Tout message contenant un lien http:// ou https:// sera refusé.</p>
                {{ form_row(contactForm.firstname) }}
                
                {{ form_row(contactForm.lastname) }}
                
                {{ form_row(contactForm.email) }}
                
                {{ form_label(contactForm.content) }}
                <div class="form-group has-error error-lastname">
                    {{ form_errors(contactForm.content) }}
                </div>
                {{ form_widget(contactForm.content,{ 'attr': {'rows': '10', 'cols': '50'} }) }}

                
                <div class="sendMail">
                    <button type="submit" class="{{ button_css|default("btn btn-primary") }} margin-top-2">{{ 'user.contact.send'|trans }}</button>
                </div>
            {{ form_end(contactForm) }}
        </div>
    </div>
    
{% endblock %}


{% block sidebar %}
{% endblock %}
