<div class="garden-result">
    <div class="img-garden-listing">
    {% if garden.gardenImages|length > 0 %}
        {% for image in garden.gardenImages %}
            {% if loop.index == 1 %}
                <div class="image{{image.id}} fisrt-image-search">
                    <a href="{{ path('admin_garden_show', {id: garden.id}) }}"><img src="{{ asset('/uploads/gardens/'~image.name) }}" alt="{{ image.name }}"></a>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
            <div class="image-none">
                <a href="{{ path('admin_garden_show', {id: garden.id}) }}"><img src="{{ asset('/uploads/images/no-image-available.png') }}" alt="Aucune photo"></a>
            </div>
    {% endif %}
    </div>
    <div class="info-camp">
        <div class="titre-garden-listing">
            <a href="{{ path('admin_garden_show', {id: garden.id}) }}">{{ garden.city|truncate(3, false) }}</a>
        </div>
        <div class="campingTypes-garden-listing">
            {% for campingType in garden.campingTypes %}
                <div class="campingType_choice campingType_selected">
                    <img src="{{ asset('/uploads/campingTypes/'~campingType.picto) }}" alt='{{ campingType.name }}' />
                </div>
            {% endfor %}
        </div>
    </div>
</div>
