<div class="item-actions">
    <a href="{{ path('admin_garden_show', {id: garden.id}) }}" class="btn btn-sm btn-warning">
        <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
    </a>
    {% if app.user == garden.user %}
        <a href="{{ path('user_profile_info', {profileId:garden.user.profile.id}) }}"" class="btn btn-sm btn-success">{{ 'my.profile'|trans }}</a>
        <a href="{{ path('admin_garden_edit', {id: garden.id}) }}" class="btn btn-sm btn-primary">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
        </a>
    {% else %}
        <a href="{{ path('user_profile_info', {profileId:garden.user.profile.id}) }}"" class="btn btn-sm btn-success">{{ 'see.profile'|trans }} ( {{ garden.user.fullname }} )</a>
    {% endif %}

    {% if garden.enabled %}
        <a href="javascript:void(0);" data-id="{{ garden.id }}" data-action="{{ path('put_offline_garden', {id: garden.id}) }}" data-post data-element="garden" data-classes="btn-danger|btn-success" data-token="{{ csrf_token('publish' ~ garden.id )}}" class="btn btn-sm btn-danger garden{{garden.id}}">
            <i class="fa fa-times" aria-hidden="true"></i> {{ 'action.offline_garden'|trans }}
        </a>
    {% else %}
        {% if garden.description|length > 50 and ( app.user.isVerified == true ) %}
            <a href="javascript:void(0);" data-id="{{ garden.id }}" data-action="{{ path('publish_garden', {id: garden.id}) }}" data-post data-element="garden" data-classes="btn-success|btn-danger" data-token="{{ csrf_token('publish' ~ garden.id )}}" class="btn btn-sm btn-success garden{{garden.id}}">
                <i class="fa fa-power-off" aria-hidden="true"></i> {{ 'action.publish_garden'|trans }}
            </a>
        {% else %}
            <a href="javascript:void(0);" class="btn btn-sm btn-danger garden{{garden.id}} deactivate">
                <i class="fa fa-times" aria-hidden="true"></i> {{ 'garden_incomplete'|trans }}
            </a>
            <div>{{ 'garden.incomplete.because'|trans }}</div>
            <ul>
                {% if garden.description|length < 50 %}
                    <li class="helperPublish">{{ 'nb.char.description.mandatory.for.publication'|trans }}</li>
                {% endif %}
                {% if garden.latCity is null %}
                    <li class="helperPublish">{{ 'garden.not.geolocalised.for.publication'|trans }}</li>
                {% endif %}
                {% if app.user.isVerified == false %}
                    <li class="helperPublish">{{ 'profil.not.verified.for.publication'|trans }}</li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}
    <a href="#" id="deleteGardenModal" class="btn btn-sm btn-danger" data-action="{{ path('admin_garden_delete_modal', {id: garden.id})}}">{{ 'delete.garden'|trans }}</a>
</div>
