<div class="row">
    <div class="listings col-md-6">
        <div class="page-header">
            <h4>{{ allGardens|length }} {{ 'nb.result.listings'|trans|raw }}</h1>
        </div>
        
        <div class="gardens-listing-result jc-space-around">
            {% for garden in allGardens %}
                <div class="garden-result garden-{{garden.id}}">
                    <div class="img-garden-listing">
                    {% if garden.gardenImages|length > 0 %}
                        {% for image in garden.gardenImages %}
                            {% if loop.index == 1 %}
                                <div class="image{{image.id}} fisrt-image-search">
                                    <a href="{{ path('admin_garden_show', {id: garden.id}) }}"><img src="{{ asset('/uploads/gardens/'~image.name) }}" alt="{{ image.name }}"></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                            <div class="image-none">
                                <a href="{{ path('admin_garden_show', {id: garden.id}) }}"><img src="{{ asset('/uploads/images/no-image-available.png') }}" alt="Aucune photo"></a>
                            </div>
                    {% endif %}
                    </div>
                    <div class="info-camp">
                        <div class="titre-garden-listing">
                            <a href="{{ path('admin_garden_show', {id: garden.id}) }}">#{{ garden.id }} | {{ garden.street }} | {{ garden.postcode }} | {{ garden.city }} | {% if  garden.country is not null %}{{garden.country.langFR}}{% else %}NoWhere{% endif %}</a>
                        </div>
                        <div class="garden-online">
                            {% if garden.enabled %}
                                EN LIGNE
                            {% else %}
                                HORS LIGNE
                            {% endif %}
                        </div>
                    </div>
                    <div class="campingTypes-garden-listing">
                        {% for campingType in garden.campingTypes %}
                            <div class="{{ campingType.id }} campingType_choice campingType_selected">
                                <img src="{{ asset('/uploads/campingTypes/'~campingType.picto) }}" alt='{{ campingType.name }}' />
                            </div>
                        {% endfor %}
                    </div>
                    <div class="description-garden-listing">
                        <a href="{{ path('admin_garden_show', {id: garden.id}) }}">{{ garden.description|truncate(200, false) }}</a>
                    </div>
                    <div class="area-garden-listing">
                        <a href="{{ path('admin_garden_show', {id: garden.id}) }}">{{ garden.area }} m<sup>2</sup></a>
                    </div>
                    <div class="equipments-garden-listing">
                        {% for equipment in garden.equipments %}
                            <div class="{{ equipment.id }} equipment_choice equipment_selected">
                                <img src="{{ asset('/uploads/equipments/'~equipment.picto) }}" alt='{{ equipment.name }}' />
                            </div>
                        {% endfor %}
                    </div>
                    <div class="rules-garden-listing">
                        {% for rule in garden.rules %}
                            <div class="{{ rule.id }} rule_choice rule_selected">
                                <img src="{{ asset('/uploads/rules/'~rule.picto) }}" alt='{{ rule.name }}' />
                            </div>
                        {% endfor %}
                    </div>
                    {% if garden.latCity is null and garden.lngCity is null %}
                        <a href="{{ path('admin_garden_edit', {id: garden.id}) }}" class="btn btn-sm btn-primary">GPS VILLE INCORRECT</a>
                    {% elseif garden.latCity is not null and garden.lngCity is not null %}
                        <a href="{{ path('admin_garden_edit', {id: garden.id}) }}" class="btn btn-sm btn-primary">GPS VILLE OK</a>
                    {% endif %}
                    {% if garden.lat is null and garden.lng is null %}
                        <a href="{{ path('admin_garden_edit', {id: garden.id}) }}" class="btn btn-sm btn-primary">GPS precis INCORRECT</a>
                    {% elseif garden.lat is not null and garden.lng is not null %}
                        <a href="{{ path('admin_garden_edit', {id: garden.id}) }}" class="btn btn-sm btn-primary">GPS precis OK</a>
                    {% endif %}

                {% if is_granted(constant('\\App\\Security\\GardenVoter::EDIT'), garden) %}
                    <div id="garden{{garden.id}}">
                        {{ render(controller('App\\Controller\\Admin\\GardenAdminController::actionsGarden', {
                                    'garden': garden
                                    })
                                )
                        }}
                    </div>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="carte-listings col-md-6">
        {{ include('maps/_map_gardens_listing.html.twig' , { 'allGardens': allGardens }, with_context = false) }}
    </div>
</div>
