{% extends 'base.html.twig' %}

{% block body_id 'garden_show' %}

{% block class_body %}col-md-8 col-md-offset-2{% endblock %}

{% block admin %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="menu-admin is-hidden-mobile">
            <h3>Menu Admin</h3>
            <a href="{{ path('admin_garden_edit', {id: garden.id}) }}" class="btn btn-sm btn-primary">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
            </a>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block contact %}
    <div class="contact">
        {% if app.user == garden.user %}
            <div class='contact-show d-flex'>
                <a href="{{ path('admin_garden_edit', {'id':garden.id}) }}" class="btn btn-lg btn-success">
                    <div><i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}</div>
                </a>
            </div>
        {% else %}
            <div class='contact-show d-flex'>
                <a href="{{ path('conversation_exchange_new', {'userId': garden.user.id, 'gardenId':garden.id}) }}" class="btn btn-lg btn-success">
                    <div><i class="fa fa-comments" aria-hidden="true"></i> {{ 'contact.garden.exchanger'|trans }} {{ garden.user.firstname }}</div>
                </a>
            </div>
        {% endif %}
        <div class="contact-profile d-flex">
            <a href="{{ path('user_profile_info', {profileId:garden.user.profile.id}) }}" class="btn btn-lg btn-warning">
                <div><i class="fa fa-user" aria-hidden="true"></i> {{ 'see.profile'|trans }}</div>
            </a>
        </div>
        <div class="contact-verified d-flex">
            <a href="#" class="btn btn-lg btn-warning">
                <div>{% if ( garden.user.profile.emailVerified or garden.user.profile.phoneVerified or garden.user.profile.identityVerified) is not empty%}<span>{{ 'verified.member'|trans }}{% else %}{{ 'new.member'|trans }}{% endif %} :</span></div>
                <div>{% if garden.user.profile.emailVerified %}{{ 'verified.email.member'|trans }}{% else %}{{ 'not.verified.email.member'|trans }}{% endif %}</div>
                <div>{% if garden.user.profile.phoneVerified %}{{ 'verified.phone.member'|trans }}{% else %}{{ 'not.verified.phone.member'|trans }}{% endif %}</div>
                <div>{% if garden.user.profile.identityVerified %}{{ 'verified.identity.member'|trans }}{% else %}{{ 'not.verified.identity.member'|trans }}{% endif %}</div>
            </a>
        </div>
    </div>
{% endblock %}

{% block main %}

    <div class="row photos">
        <div class="clear-wrap col-md-6">
            <div class="img-garden-show">
                {% if garden.gardenImages|length > 0 %}
                    {% for image in garden.gardenImages %}
                        {% if loop.index == 1 %}
                            <div class="image{{image.id}} first-photo col-md-12">
                                <a href="{{ absolute_url(asset('/uploads/gardens/'~image.name)) }}" rel="lightbox" title="{{ image.libelle }}" data-caption="{{ image.libelle }}"><img src="{{ asset('/uploads/gardens/'~image.name) }}" alt="{{ image.name }}"></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="image-none">
                        <img src="{{ asset('/uploads/images/no-image-available.png') }}" alt="Aucune photo">
                    </div>
                {% endif %}
            </div>
            <div class="title-garden"><h1>{{ garden.city }}{% if is_granted('ROLE_ADMIN') %}(#{{ garden.id }}){% endif %}</h1></div>
        </div>
        <div class="d-flex other-photos is-hidden-mobile col-md-6">
            {% for image in garden.gardenImages %}
                {% if loop.index > 1 and  loop.index < 6%}
                    <div class="image{{image.id}}">
                        <a href="{{ absolute_url(asset('/uploads/gardens/'~image.name)) }}" rel="lightbox" title="{{ image.libelle }}" data-caption="{{ image.libelle }}"><img src="{{ asset('/uploads/gardens/'~image.name) }}" alt="{{ image.name }}"></a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <hr class="is-hidden-mobile" />
    <div class="row camping-types d-flex jc-center">
        <h4>{{ 'label.campingTypes'|trans }}</h4>
        <div class="d-flex jc-center col-md-12">
            {% set campingTypesGarden = [] %}
            {% for campingType in garden.campingTypes %}
                {% set campingTypesGarden = campingTypesGarden|merge({ (loop.index0):campingType.id}) %}
            {% endfor %}

            {% for campingType in campingTypes %}
                <div class="campingType_choice{% if campingType.id in campingTypesGarden %} campingType_selected{% endif %}">
                    <img src="{{ asset('/uploads/campingTypes/'~campingType.picto) }}" alt='{{ campingType.name }}' />
                    <div class="desc-picto">{{ campingType.name|trans }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <hr />
    <div class="row d-flex jc-center description">
        <h4>{{ 'label.description'|trans }}</h4>
        <div class="description-garden-show d-flex jc-center col-md-12">
            <div class="description-garden">{{ garden.description|nl2br }}</div>
        </div>
    </div>
    
    {% if garden.equipments|length > 0 %}
        <hr />
        <div class="row equipment d-flex jc-center">
            <h4>{{ 'label.equipments'|trans }}</h4>
            <div class="d-flex jc-center col-md-12">
                {% set equipmentsGarden = [] %}
                {% for equipment in garden.equipments %}
                    {% set equipmentsGarden = equipmentsGarden|merge({ (loop.index0):equipment.id}) %}
                {% endfor %}
                {% for equipment in equipments %}
                    <div class="equipment_choice{% if equipment.id in equipmentsGarden %} equipment_selected{% endif %}">
                        <img src="{{ asset('/uploads/equipments/'~equipment.picto) }}" alt='{{ equipment.name }}' />
                        <div class="desc-picto">{{ equipment.name|trans }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    {% if garden.rules|length > 0 %}
        <hr />
        <div class="row rules d-flex jc-center">
            <h4>{{ 'label.rules'|trans }}</h4>
            <div class="d-flex jc-center col-md-12">
                {% for rule in garden.rules %}
                    <div class="rule_choice rule_selected">
                        <img src="{{ asset('/uploads/rules/'~rule.picto) }}" alt='{{ rule.name }}' />
                        <div class="desc-picto">{{ rule.name|trans }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    {% if garden.area|length > 0 %}
        <hr />
        <div class="row rules d-flex jc-center">
            <h4>{{ 'label.area'|trans }}</h4>
            <div class="d-flex jc-center col-md-12">
                {{ garden.area }} m2
            </div>
        </div>
    {% endif %}
    
    {% if (garden.lat is not null and garden.lng is not null) or (garden.latCity is not null and garden.lngCity is not null) %}
        <hr />
        <div class="localisation jc-center">
            <h4>{{ 'localisation'|trans }}</h4>
            <div class="d-flex jc-center col-md-12">
                {{ include('maps/_map_garden_show.html.twig') }}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
