{% extends 'emails/layout.html.twig' %}

{% block content %}
    <div>
        <img src="{{ email.image('@images/logo-garden-exchange.png') }}" alt="Logo Garden Exchange">
    </div>
    <p>{{ 'email.reset.instruction'|trans }}</p>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Changer de mot de passe</a>
    <p>{{ 'email.reset.exire'|trans }} {{ tokenLifetime|date('g') }} {{ 'email.reset.hours'|trans }}.</p>

{% endblock %}
