{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_conversation_new' %}

{% block class_body %}col-md-10 col-md-offset-1{% endblock %}

{% block main %}
    <h1>{{ 'title.conversations.list'|trans }} ({{conversation_exchanges|length}})</h1>
    {% if conversation_exchanges %}
        <div class="conversations-list">
            {% for conversation_exchange in conversation_exchanges %}
                <div class="conversation">
                        <div class="conversation-profile-content">
                            <a href="{{ path('user_profile_info', {'profileId': conversation_exchange.camper.profile.id}) }}">
                                <div class="conversation-profile">
                                {% if conversation_exchange.camper.profile.profileImage is not null %}
                                    <div class="img-profile">
                                        <img src="{{ asset('/uploads/profiles/'~conversation_exchange.camper.profile.profileImage) }}" alt='{{ conversation_exchange.camper.firstname }}' />
                                    </div>
                                {% endif %}
                                    {{ conversation_exchange.camper.firstname }}
                                </div>
                            </a>
                            <a href="{{ path('conversation_exchange_show', {'id': conversation_exchange.id}) }}" class="index-content-conversation">
                                <div class="conversation-content">
                                    {% if is_granted('ROLE_ADMIN') %}#{{ conversation_exchange.id }}{% endif %}
                                    {{ conversation_exchange.content }}
                                </div>
                            </a>
                        </div>
                        <div class="conversation-date">
                            {{ conversation_exchange.created|date('d-m-Y h:i') }}
                        </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="carte-listings-no-annonce col-md-8 col-md-offset-2">
            {{ 'no.conversations'|trans }}
            <div class="go-result d-flex jc-center">
                <div>
                    <a href="{{ path('garden_results') }}" class="btn btn-success">{{'see.all.garden'|trans}}</a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
