{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_conversation_messages_list' %}

{% block class_body %}col-md-10 col-md-offset-1{% endblock %}

{% block main %}
    <h1>{% if is_granted('ROLE_ADMIN') %}{{ conversation_exchange.id }}{% endif %} {{ 'message.conversation.with'|trans }} {{ conversation_exchange.camper.firstname }} {{ 'conversation.garden.at'|trans }} {{ conversation_exchange.garden.city }}</h1>
    {% for image in conversation_exchange.garden.gardenImages %}
        {% if loop.index == 1 %}
            <div class="image{{image.id}} first-photo col-md-12">
                <a href="{{ absolute_url(asset('/uploads/gardens/'~image.name)) }}" rel="lightbox"><img src="{{ asset('/uploads/gardens/'~image.name) }}" alt="{{ image.name }}"></a>
            </div>
        {% endif %}
    {% endfor %}
    <div class="conversation">
        <div class="conversation-profile-content">
            <div class="conversation-profile">
            {% if conversation_exchange.camper.profile.profileImage is not null %}
                <a href="{{ path('user_profile_info', {profileId:conversation_exchange.camper.profile.id}) }}">
                    <div class="img-profile">
                        <img src="{{ asset('/uploads/profiles/'~conversation_exchange.camper.profile.profileImage) }}" alt='{{ conversation_exchange.camper.firstname }}' />
                    </div>
                </a>
            {% endif %}
                <a href="{{ path('user_profile_info', {profileId:conversation_exchange.camper.profile.id}) }}">{{ conversation_exchange.camper.firstname }}</a>
            </div>
            <div class="conversation-content">
                {% if is_granted('ROLE_ADMIN') %}#{{ conversation_exchange.id }}{% endif %}
                {{ conversation_exchange.content }}
            </div>
        </div>
        <div class="conversation-date">
            {{ conversation_exchange.created|date('d-m-Y h:i') }}
        </div>
    </div>

    <div class="messages">
        {% for messageExchange in conversation_exchange.MessageExchanges %}
            <div class="conversation {% if app.user == messageExchange.user %}user{% endif %}">
                <div class="conversation-profile-content">
                    <div class="conversation-profile">
                    {% if messageExchange.user.profile.profileImage is not null %}
                        <a href="{{ path('user_profile_info', {profileId:messageExchange.user.profile.id}) }}">
                            <div class="img-profile">
                                <img src="{{ asset('/uploads/profiles/'~messageExchange.user.profile.profileImage) }}" alt='{{ messageExchange.user.firstname }}' />
                            </div>
                        </a>
                    {% endif %}
                        <a href="{{ path('user_profile_info', {profileId:messageExchange.user.profile.id}) }}">{{ messageExchange.user.firstname }}</a>
                    </div>
                    <div class="conversation-content">
                        {% if is_granted('ROLE_ADMIN') %}#{{ messageExchange.id }}{% endif %}
                        {{ messageExchange.content }}
                    </div>
                </div>
                <div class="conversation-date">
                    {{ messageExchange.created|date('d-m-Y h:i') }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="tchat">
        {{ include('admin/message/_form_message.html.twig') }}
    </div>
    <div>
        <a href="javascript:void(0);" data-id="{{ conversation_exchange.id }}" data-action="{{ path('garden_exchange_accepted', {conversationExchangeId: conversation_exchange.id})}}" data-post data-token="{{ csrf_token('acceptedExchange' ~ conversation_exchange.id )}}" data-element="conversationExchange" class="btn btn-sm btn-primary">Accepter l'echange</a>
    </div>

{% endblock %}
