{#
    By default, forms enable client-side validation. This means that you can't
    test the server-side validation errors from the browser. To temporarily
    disable this validation, add the 'novalidate' attribute:

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
#}

{% if show_confirmation|default(false) %}
    {% set attr = {'data-confirmation': 'true'} %}
    {{ include('blog/_delete_post_confirmation.html.twig') }}
{% endif %}

{{ form_start(form, {attr: attr|default({})}) }}

<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.campingTypes) }}</h4>
        {{ form_widget(form.campingTypes, { attr: {class: 'hidden'}}) }}
        <div class="campingTypes_choice jc-center">
            {% set campingTypesGarden = [] %}
            {% for campingType in garden.campingTypes %}
                {% set campingTypesGarden = campingTypesGarden|merge({ (loop.index0):campingType.id}) %}
            {% endfor %}

            {% for campingType in form.campingTypes.vars.choices %}
                <div id="{{ campingType.data.id }}" class="campingType_choice{% if campingType.data.id in campingTypesGarden %} campingType_selected{% endif %}">
                    <img src="{{ asset('/uploads/campingTypes/'~campingType.data.picto) }}" alt='{{ campingType.data.name }}' />
                    <div class="desc-picto">{{ campingType.data.name }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.zones) }}</h4>
        {{ form_widget(form.zones, { attr: {class: 'hidden'}}) }}
        <div class="zones_choice jc-center">
            {% set zonesGarden = [] %}
            {% for zone in garden.zones %}
                {% set zonesGarden = zonesGarden|merge({ (loop.index0):zone.id}) %}
            {% endfor %}

            {% for zone in form.zones.vars.choices %}
                <div id="{{ zone.data.id }}" class="zone_choice{% if zone.data.id in zonesGarden %} zone_selected{% endif %}">
                    <img src="{{ asset('/uploads/zones/'~zone.data.picto) }}" alt='{{ zone.data.name }}' />
                    <div class="desc-picto">{{ zone.data.name }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.description) }}</h4>
        {{ form_help(form.description) }}
        {{ form_widget(form.description,{ 'attr': {'rows': '10', 'cols': '50'} }) }}
    </div>
</div>

<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ 'localisation'|trans }}</h4>
    </div>
</div>
<div class="row d-flex jc-center">
    <div class="col-md-6">
            {{ include('maps/_map_garden.html.twig') }}
    </div>
    <div class="col-md-6 txt-center">
        <div class="col-md-6 txt-center">
            {{ form_row(form.street) }}
        </div>
        <div class="col-md-6 txt-center">
            {{ form_row(form.postcode) }}
        </div>
        <div class="col-md-6 txt-center">
            {{ form_row(form.city) }}
        </div>
        <div class="col-md-6 txt-center">
            {{ form_row(form.country) }}
        </div>
    </div>
</div>

<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.area) }}</h4>
        {{ form_help(form.area) }}
        {{ form_widget(form.area) }}

        {{ form_row(form.lat) }}
        {{ form_row(form.lng) }}
    </div>
</div>
<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.equipments) }}</h4>
        {{ form_widget(form.equipments, { attr: {class: 'hidden'}}) }}
        <div class="equipments_choice jc-center">
            {% set equipmentsGarden = [] %}
            {% for equipment in garden.equipments %}
                {% set equipmentsGarden = equipmentsGarden|merge({ (loop.index0):equipment.id}) %}
            {% endfor %}

            {% for equipment in form.equipments.vars.choices %}
                <div id="{{ equipment.data.id }}" class="equipment_choice{% if equipment.data.id in equipmentsGarden %} equipment_selected{% endif %}">
                    <img src="{{ asset('/uploads/equipments/'~equipment.data.picto) }}" alt='{{ equipment.data.name }}' />
                    <div class="desc-picto">{{ equipment.data.name }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.gardenImages) }}</h4>
        <div class="d-flex jc-space-evenly">
            {% for image in garden.gardenImages %}
                <div class="image{{image.id}}">
                    <img src="{{ asset('/uploads/gardens/'~image.name) }}" alt="{{ image.name }}" width="150">
                    <a href="javascript:void(0);" data-id="{{ image.id }}" data-action="{{ path('garden_delete_image', {gardenImageId: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
                </div>
            {% endfor %}
        </div>

        {{ form_widget(form.gardenImages) }}
    </div>
</div>
<div class="row">
    <div id='upload_garden_image_result' class="d-flex jc-space-evenly"></div>
</div>

<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center publish-garden">
        <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
            <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.create_post'|trans) }}
        </button>
    </div>
</div>
{{ form_end(form) }}
