{#
    By default, forms enable client-side validation. This means that you can't
    test the server-side validation errors from the browser. To temporarily
    disable this validation, add the 'novalidate' attribute:

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
#}

{{ form_start(form, {attr: {novalidate: 'novalidate', class:'form-add-garden'}}) }}

<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.campingTypes) }}</h4>
        <div class="form-group has-error error-campingTypes">
            <span class="help-block">
                <ul class="list-unstyled">
                    <li><span class="fa fa-exclamation-triangle"></span> Cette valeur ne doit pas être nulle.</li>
                </ul>
            </span>
            {{ form_errors(form.campingTypes) }}
        </div>
        {{ form_widget(form.campingTypes, { attr: {class: 'hidden'}}) }}
        <div class="campingTypes_choice jc-center">
            {% set campingTypesGarden = [] %}
            {% for campingType in garden.campingTypes %}
                {% set campingTypesGarden = campingTypesGarden|merge({ (loop.index0):campingType.id}) %}
            {% endfor %}

            {% for campingType in form.campingTypes.vars.choices %}
                <div id="{{ campingType.data.id }}" class="campingType_choice{% if campingType.data.id in campingTypesGarden %} campingType_selected{% endif %}">
                    <img src="{{ asset('/uploads/campingTypes/'~campingType.data.picto) }}" alt='{{ campingType.data.name }}' />
                    <div class="desc-picto">{{ campingType.data.name|trans }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<hr />
<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.description) }}</h4>
        {{ form_help(form.description) }}
        <div class="form-group has-error error-description">
            {{ form_errors(form.description) }}
        </div>
        {{ form_widget(form.description,{ 'attr': {'rows': '10', 'cols': '50'} }) }}
    </div>
</div>

<hr />
<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.equipments) }}</h4>
        {{ form_errors(form.equipments) }}
        {{ form_widget(form.equipments, { attr: {class: 'hidden'}}) }}
        <div class="equipments_choice jc-center">
            {% set equipmentsGarden = [] %}
            {% for equipment in garden.equipments %}
                {% set equipmentsGarden = equipmentsGarden|merge({ (loop.index0):equipment.id}) %}
            {% endfor %}

            {% for equipment in form.equipments.vars.choices %}
                <div id="{{ equipment.data.id }}" class="equipment_choice{% if equipment.data.id in equipmentsGarden %} equipment_selected{% endif %}">
                    <img src="{{ asset('/uploads/equipments/'~equipment.data.picto) }}" alt='{{ equipment.data.name }}' />
                    <div class="desc-picto">{{ equipment.data.name|trans }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<hr />
<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.rules) }}</h4>
        {{ form_errors(form.rules) }}
        {{ form_widget(form.rules, { attr: {class: 'hidden'}}) }}
        <div class="rules_choice jc-center">
            {% set rulesGarden = [] %}
            {% for rule in garden.rules %}
                {% set rulesGarden = rulesGarden|merge({ (loop.index0):rule.id}) %}
            {% endfor %}

            {% for rule in form.rules.vars.choices %}
                <div id="{{ rule.data.id }}" class="rule_choice{% if rule.data.id in rulesGarden %} rule_selected{% endif %}">
                    <img src="{{ asset('/uploads/rules/'~rule.data.picto) }}" alt='{{ rule.data.name }}' />
                    <div class="desc-picto">{{ rule.data.name|trans }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<hr />
<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ 'localisation'|trans }}</h4>
    </div>
</div>
<div class="row d-flex jc-center">
    <div class="col-md-3 txt-center">
        {{ form_label(form.street) }}
        {{ form_widget(form.street) }}
        <div class="form-group has-error error-street">
            {{ form_errors(form.street) }}
        </div>
    </div>
    <div class="col-md-3 txt-center">
            {{ form_label(form.postcode) }}
            {{ form_widget(form.postcode) }}
        <div class="form-group has-error error-postcode">
            {{ form_errors(form.postcode) }}
        </div>
    </div>
</div>
<div class="row d-flex jc-center">
    <div class="col-md-3 txt-center">
        {{ form_label(form.city) }}
        {{ form_widget(form.city) }}
        <div class="form-group has-error error-city">
            {{ form_errors(form.city) }}
        </div>
    </div>
    <div class="col-md-3 txt-center">
        {{ form_label(form.country) }}
        {{ form_widget(form.country) }}
        <div class="form-group has-error error-country">
            {{ form_errors(form.country) }}
        </div>
    </div>
</div>

<hr />
<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.area) }}</h4>
        {{ form_help(form.area) }}
        <div class="superficie d-flex jc-center">
            {{ form_widget(form.area) }}
        </div>
        <div class="form-group has-error error-area">
            {{ form_errors(form.area) }}
        </div>
        {{ form_row(form.lat) }}
        {{ form_row(form.lng) }}
    </div>
</div>

<hr />
<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center">
        <h4>{{ form_label(form.gardenImages) }}</h4>
        {{ form_help(form.gardenImages) }}
        {{ form_widget(form.gardenImages) }}
    </div>
</div>
<div class="row">
    <div id='upload_garden_image_result' class="d-flex jc-space-evenly"></div>
</div>

    
<div class="row d-flex jc-center">
    <div class="col-md-6 txt-center publish-garden">
        <button type="submit" class="{{ button_css|default("btn btn-primary") }}" id="submit-add-garden">
            <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.create_post'|trans) }}
        </button>
    </div>
</div>
{{ form_end(form) }}
