{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_garden_edit' %}

{% block class_body %}col-sm-8 col-sm-offset-2{% endblock %}

{% block main %}
    {{ include('default/_flash_messages.html.twig') }}

    <div class="action-garden-edit d-flex clear-wrap">
        <h1>{{ 'title.edit_garden'|trans({'%id%': garden.id}) }}</h1>
        <a href="{{ path('admin_garden_show', {id: garden.id}) }}" class="btn btn-lg btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show_garden'|trans }}
        </a>
    </div>
    
    {{ include('admin/garden/_form_edit.html.twig', {
        form: form,
        garden: garden,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
    
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
