{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_garden_index' %}

{% block main %}
    <h1>{{ 'title.garden_list'|trans }}</h1>

        {% for garden in gardens %}
            {{ garden.title }}
            <div class="item-actions">
                <a href="{{ path('admin_garden_show', {id: garden.id}) }}" class="btn btn-sm btn-default">
                    <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                </a>

                <a href="{{ path('admin_garden_edit', {id: garden.id}) }}" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                </a>
            </div>
        {% else %}
            {{ 'garden.no_gardens_found'|trans }}
        {% endfor %}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_garden_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_garden'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}
