{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_garden_show' %}

{% block class_body %}col-md-10 col-md-offset-1{% endblock %}

{% block main %}
    <div class="action-garden-show d-flex clear-wrap">
        <h1>{{ garden.city }} ({{ garden.id }})</h1>
        {#
        <a href="{{ path('admin_garden_show', {id: garden.id}) }}" class="btn btn-lg btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show_garden_online'|trans }}
        </a>
        #}
        <a href="{{ path('admin_garden_edit', {id: garden.id}) }}" class="btn btn-lg btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>
    <div class="row d-flex jc-center">
        <p class="post-metadata">
            {% if garden.publishedAt is defined %}<span class="metadata"><i class="fa fa-calendar"></i> {{ garden.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>{% endif %}
            <span class="metadata"><i class="fa fa-user"></i> {{ garden.user.fullName }}</span>
        </p>
    </div>
    <div class="row d-flex jc-center">
        <div class="img-garden-show">
            {% if garden.gardenImages|length > 0 %}
                {% for image in garden.gardenImages %}
                    <div class="image{{image.id}}">
                        <img src="{{ asset('/uploads/gardens/'~image.name) }}" alt="{{ image.name }}">
                    </div>
                {% endfor %}
            {% else %}
                    <div class="image-none">
                        <img src="{{ asset('/uploads/gardens/none.png') }}" alt="Aucune photo">
                    </div>
            {% endif %}
        </div>
    </div>
    <div class="row d-flex jc-center">
            {% for campingType in garden.campingTypes %}
                <div id="{{ campingType.id }}" class="campingType_choice">
                    <img src="{{ asset('/uploads/campingTypes/'~campingType.picto) }}" alt='{{ campingType.name }}' />
                    <div class="desc-picto">{{ campingType.name }}</div>
                </div>
            {% endfor %}
    </div>
    <div class="row d-flex jc-center">
        {% for equipment in garden.equipments %}
            <div id="{{ equipment.id }}" class="equipment_choice">
                <img src="{{ asset('/uploads/equipments/'~equipment.picto) }}" alt='{{ equipment.name }}' />
                <div class="desc-picto">{{ equipment.name }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="row d-flex jc-center">
        <div class="well">
            <p class="m-b-0"><strong>{{ 'label.description'|trans }}</strong>: {{ garden.description }}</p>
        </div>
    </div>

    <div class="row d-flex jc-center">
        <div class="col-md-6">
            {{ include('maps/_map_garden.html.twig') }}
        </div>
    </div>


{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
