{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_garden_show' %}

{% block main %}
    <h1>Jardin a {{ garden.city }} ({{ garden.id }})</h1>

    <p class="post-metadata">
        {% if garden.publishedAt is defined %}<span class="metadata"><i class="fa fa-calendar"></i> {{ garden.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>{% endif %}
        <span class="metadata"><i class="fa fa-user"></i> {{ garden.user.fullName }}</span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>{{ 'label.description'|trans }}</strong>: {{ garden.description }}</p>
    </div>

    {{ garden.description|markdown_to_html|sanitize_html }}

{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_garden_edit', {id: garden.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/garden/_delete_form.html.twig', {garden: garden}, with_context = false) }}
    </div>

    {{ parent() }}

{% endblock %}
